body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  p { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h1 {
    font-style: italic;
  }

  h2 {
    text-align: center;
  }

  dl {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    text-indent: 40px;
  }
  
  .intro { 
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }

  article {
    background-color: rgb(101, 155, 94);
    padding: 50px;
    border-radius: 15px; 
  }

  .logo {
    position: sticky;
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex;
  }
  
  nav {
    background-color: rgb(101, 155, 94);
    padding: .5em;
    position: sticky;
    top: 0
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    padding: .5em 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  @media screen and (max-width: 400px) {
    .grid {
      display: flex;
      flex-direction: column;
    }

    .heading {
      flex-direction: column;
      display: flex;
    }

    nav ul { 
      display: 20px;
      flex-direction: column;
      text-align: center;
    }
}

